# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Do not upload PHP project
# =========================
ecogrowth/

# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build files
# =========================
dist/
build/