.header{
    background: #fff;
    border-bottom: 2px solid #ccc;
}
.bar1, .bar2, .bar3
{
    background-color: #536973;
}
.content-header
{
    background-color: #eee;
}
.messages .dropdown i,.notifications .dropdown i,.fullscreen i{
    color:#555;
}