
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  background: #fff;
}
h1,h2,h3,h4,h5,h6{
  margin:0;        
}
p{
  margin:0;
}
body a:hover{
  text-decoration:none;
}
.main-content {
    position: relative;
}
.cbp-spmenu {
  position: fixed;
}
.cbp-spmenu-vertical {
    height: 100%;
    z-index: 1000;
    padding: 0em 0 2em;
}
.cbp-spmenu-left {
    left: 0;
}
.cbp-spmenu-left.cbp-spmenu-open {
  left: -309px;
}
.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
}
.cbp-spmenu-push-toright {
  left: 0;
}
.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cbp-spmenu-push div#page-wrapper {
  transition:.5s all;
  -webkit-transition:.5s all;
  -moz-transition:.5s all;
}
.cbp-spmenu-push.cbp-spmenu-push-toright div#page-wrapper {
    margin: 0;
}
.user_img{
  float:left;
  width:19%;
}
.user_img img{
  max-width:100%;
  display:block;
  border-radius:2em;
  -webkit-border-radius:2em;
  -moz-border-radius:2em;
  -o-border-radius:2em;
}


.media_1-left {
    padding: 0;
    background-color: #fff;
    width: 49%;
}
.media_1-right {
    float: left;
    margin-left: 2%;
    width: 49%;
    padding: 0;
}
.media_1{
  margin:2em 0 0 0;
  padding-bottom: 1px;
}
.media_box{
  margin-bottom:2em;
}
.media_box1{
  margin-top:2em;
}
.media {
  margin-top:15px !important;
}
.media:first-child {
  margin-top: 0 !important;
  padding: 0 1px;
}


.widget{
  padding:0;
}

.widgettable .card {
    background: #fff;
    margin-bottom: 20px;
   -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
}

.widgettable .wthree-crd {
    padding-left: 0;
}
.widgettable .w3-agile-crd {
    padding-right: 0;
}
.wthree-crd.widgettable {
    padding-left: 0;
}
.w3-agile-crd.widgettable {
    padding-right: 0;
}
.w3-agileits-crd.widgettable {
    padding: 0px;
}
.list-group .list-group-item {
    border: 0;
    margin: 0;
    padding: 0px 0px;
}
.list-group-item:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid #E9E9E9;
}

.agileinfo-cdr {
    padding: 10px 10px 0px 10px;
}

.widget h4 {
    line-height: 100%;
    font-size: 18px;
    font-weight: 400;
}
hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border-top: 1px solid #eee;
}

.agileinfo-cdr .list-group {
    margin-bottom: 0px;
}
.agileinfo-cdr .lg-item-heading {
	font-size: 14px;
    color: #3c3b3b;
    font-weight: bold;
    letter-spacing: 0px;
}
.lg-item-heading {
margin-top: 0.6em;}
.agileinfo-cdr small.lg-item-text {
    font-size: 13px;
}

@media(max-width:1080px){
 
  .weather-grids {
    width: 100%;
  }
  .elements .widgettable {

    padding-right: 0;
    padding-left: 0;
  }
  input#btnCaptureIn {
    margin: 0px !important;
    width: 100% !important;
}
.form-control.select2-container {
    width: 100% !important;
}
.intime {
    position: absolute;
    margin-top: 0px !important;
    left: -8px;
}
input#btnCaptureOut {
    width: 100% !important;
    margin: 20px 0px !important;
}
.outtime {
    position: absolute;
    margin-top: 66px !important;
    left: -8px;
}
 .btn.leave {
    width: 100%;
} 
button.btn.gate-pass {
    width: 100%;
}
}


/*NEW CSS*/
.padd-all-0 {
    padding: 0px !important;
}
.marked-staff-list {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.marked-staff-main {
    padding: 15px 20px 50px;
    background-color: #067dc9;
	position: relative;
}
.all-staf-main {
    position: absolute !important;
    top: 50px;
    padding: 0px 0px;
}
.all-record-div h3 {
    margin: 0px;
    text-align: center;
    padding-bottom: 10px;
}
.unmarked-staff-list {
    padding: 15px 20px 50px;
    background-color: #067dc9;
    position: relative !important;
}
.Leave-staff-list{
    padding: 15px 20px 50px;
    background-color: #067dc9;
    position: relative !important;
}
.attend-page {
    overflow-y: hidden;
}
.all-staf-main .well {
    min-height: 0px;
    padding: 20px 0px 20px 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.staff-main-div-desktop .all-staf-main .media-body {
    border-bottom: 1px solid #ccc;
    padding: 0px 3px 10px;
}
#formdata .select2-container .select2-choice {
    height: 40px;
    padding: 7px 0 0 8px;
    font-size: 18px;
}
.all-staf-main .btn-primary {
    color: #333;
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom: none;
}
.all-staf-main .btn-default {
    color: #fff;
    background-color: #067dc9;
    border-color: #c1c1c1;
}
.all-staf-main .btn-primary.active, .all-staf-main .btn-primary.focus, .all-staf-main .btn-primary:active, .all-staf-main .btn-primary:focus, 

.all-staf-main .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #333;
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom: none;
}
#formdata .select2-container .select2-choice .select2-arrow {
    width: 24px;
    border-left: 1px solid #fff;
    background: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f6f6f6), color-stop(0.6, #f3f3f3));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(to top, #fdfdfd 0%, #fbfbfb 60%);
}
input#btnCaptureIn {
    background: #b6ff4c;
    border-radius: 30px;
    height: 45px;
	position:relative;    color: #000;
	border: none;

}
input#btnCaptureOut {
    background: #4a90e2;	
    border-radius: 30px;
    height: 45px;
	position:relative;     color: #000;
    border: none;
}
.intime {
    position: absolute;
    margin-top: 11px;
    left: -7px;
}
.intime img {
    width: 53%;
}
.outtime {
    position: absolute;
    margin-top: 71px;
    left: -8px;
}
.outtime img {
    width: 53%;
}
.padd-top .agileinfo-cdr {
    padding-top: 20px;
}
.outdiv .well {
    overflow-y: scroll;
    max-height: 245px;
}







.indiv .media-body .pull-left {
  width: 43.33333%;
}
.indiv .intime-in {
    width: 25%;
    float: left;
}
.indiv .media-body .intime-in p {
    margin-bottom: 0px;
}
.indiv .latetime-in {
    width: 25%;
    float: left;
}
.latetime-in p {
    margin-bottom: 0px;
}
.outdiv .media-body .pull-left {
  width: 43.33333%;
}
.outdiv  .intime-in {
    width: 25%;
    float: left;
}
.outdiv  .media-body .intime-in p {
    margin-bottom: 0px;
}
.outdiv  .latetime-in {
    width: 25%;
    float: left;
}
.latetime-in p {
    margin-bottom: 0px;
}


.indiv .all-late-icon {
    width: 6%;
    float: right;
}
.outdiv .all-late-icon {
    width: 6%;
   float: right;
}